*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url("image/4.jpg");
    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.main{
    max-width: 1000px;
    margin: auto;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    border: 1px solid transparent;

}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;

}
ul li a:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
         
}
.active{
    background-color: white;
    color: black;
}
.logo2 img{
    margin-top: 50px;
    width: 200px;
     

}
.centre_text{
    margin-top: 250px;
    margin-left: 350px;
    
}
h1{
    color: white;
}
#bt1{
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-decoration: none;

}
#bt2{
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-decoration: none;
    
}
#bt1:hover{
background-color: white;
color: black;
transition: 0.6s ease;
     

}
#bt2:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;




